// 定义日间的主题颜色
@use 'sass:map';
@use 'mixins.scss' as *;


$normal-spacing: 16px;
$small-spacing: 8px;
$big-spacing: 24px;

// --wti-bg-color
$bg-color: () !default;
$bg-color: map.merge(
    (
        '': #f5f5f5,
        'overlay': #ffffff,
    ),
    $bg-color
);

// --wti-border-color
$border-color: () !default;
$border-color: map.merge(
    (
        '': #f6f6f6,
    ),
    $border-color
);

:root {
    @include set-css-var-value('normal-spacing', $normal-spacing);
    @include set-css-var-value('small-spacing', $small-spacing);
    @include set-css-var-value('big-spacing', $big-spacing);
    @include set-component-css-var('bg-color', $bg-color);
    @include set-component-css-var('border-color', $border-color);
}